
/* Fonts taken from Google - https://fonts.google.com */
/* Fonts bulletproofed on Font Squirrel - https://www.fontsquirrel.com/tools/webfont-generator, on Feb. 19th */
@font-face {
    font-family: 'comfortaabold';
    src: url('font_body/comfortaa-bold-webfont.woff2') format('woff2'),
         url('font_body/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comfortaaregular';
    src: url('font_body/comfortaa-regular-webfont.woff2') format('woff2'),
         url('font_body/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comfortaalight';
    src: url('font_body/comfortaa-light-webfont.woff2') format('woff2'),
         url('font_body/comfortaa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #474e5d;
}

body {
	font-family:"comfortaaregular";
	background-color: #474e5d; /* Dark grey */
	color: #ffffff;
	font-size: 10px;
  	line-height: 15px;
  	letter-spacing: 1px;
	word-spacing: 1.5px;
	padding-bottom: 50px;
}

.main {
	font-size: 30px;
}

dt{
	padding-top:30px;
}

.bg-1 { 
    background-color: #A52A2A; /* #8B0000; darker red #c0392b; Darkish red #1abc9c; Green */
	color: #ffffff;
 	padding-top: 20px;
    padding-bottom: 20px;
	padding-right:30px;
	padding-left:30px;
}
  
.bg-2 { 
    background-color: #f5f5f5; /* Dark grey */
	color: black; /* #ffffff; white*/
	padding-top: 70px;
    padding-bottom: 70px;
}

.bg-3 { 
	background-color: #474e5d;
	color: black; /* #ffffff; white*/
	padding-top: 30px;
    padding-bottom: 30px;
   	/*height: 70px;*/
}
  
.container-fluid { 
	padding-left: 30px;
    padding-right: 30px;
}

.logged { 
	padding-left: 30px;
    padding-right: 30px;
}
  
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.right{
	height: 320px;
	position: fixed;
	overflow-y: auto;
}

.map{
	width: 100%;
}

.title{
	font-size:45px;
}

.form input{
	color:black;
	margin:10px;
}

.form p{
	margin:10px;
}

.searchbar {
    padding: 6px;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
}

.dropdown {
    padding:10px;
}