{% extends "base_generic.html" %}
  	{% block leftbar %}
      {% if user.is_authenticated %}
  		<div class="col-md-3">
  			<p class="logged"><a href="#">My future events</a></p>
  			<p class="logged"><a href="#">My past events</a></p>
  			<p class="logged"><a href="#">My favorite spots</a></p>
  			<p class="logged"><a href="ratings">My ratings</a></p>
  			<p class="logged"><a href="messages">My comments</a></p>
  		</div>
      {% endif %}
  	{% endblock %}

  	{% block main %}
  		<div class="col-md-6 main account">
    				<p>
    				<ul>

      				  {% if user.is_authenticated %}
      					<p class="account_title">Welcome {{user.first_name}}!</p>
      					<li>
        					Your username: {{ user.get_username }}
        					<br>
        					Your email address: {{ user.email }}
      					</li>
                {% else %}
                <p>You must be logged in to view this page.</p>
      					{% endif %}

    				</ul>
    				</p>
  		</div>
  	{% endblock %}

  	{% block rightbar %}
      {% if user.is_authenticated %}
  		<div class="col-md-2 right">
  			<p> Your upcoming events </p>
  			{% if object_list|length == 1 %}
  			  			<p> You have nothing coming up </p>
  			  		{% else %}
  			  		{% with object_list|slice:"1:" as object_list2 %}
    				<ul>
      					{% for object in object_list2|dictsort:"startDate" %}

      						{% if object.name %}
      					<li>
        					Up next: <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
      					</li>
      					{% endif %}
      					{% endfor %}

    				</ul>
    				{% endwith %}
    			{% endif %}
  		</div>
      {% endif %}

  	{% endblock %}
