{% extends "base_generic.html" %}
{% block main %}
<div class="col-md-8 main">
	{% if rating_list %}
	<p> Here are the different ratings given to the event {{ event.name }} </p>
    <ul>
    	{% for rating in rating_list|dictsort:"date" %}
  			<li>On {{ rating.date.date }}, {{ rating.username.username }} gave {% if rating.rating == -1 %}<span class="negative">negative{% elif rating.rating == 1 %}<span class="positive">positive{% else %}<span class="neutral">neutral{% endif %}</span> rating.</li>
  		{% endfor %}
  		<p>The average rating for this event is {{ average_rating.rating__avg|floatformat }}/1</p>
  	{% else %}
  		<p>There is no rating about the event {{ event.name }} yet. </p>
  	{% endif %}
	</ul>
	
	{% if user.is_authenticated %}
  		<p><button type="button" class="btn-lg"><a href="{% url 'rate-event' event.id %}">Rate</a></button></p>
 	{% endif %}
 	<p> Go back to <a href="{% url 'event-detail' event.id %}">{{ event.name }}</a></p>
</div>
 
{% endblock %}