{% extends "base_generic.html" %}

{% block main %}
<div class="col-md-8 main">
  <h1>Event: {{ event.name }}</h1>
  <p><strong>Starts: </strong>{{ event.startDate }}</p>
  <p><strong>Ends: </strong> {{ event.endDate }}</p>
  <p><strong>Description: </strong> {{ event.description }}</p>
  <p><strong>Tags: </strong> {% for tag in event.tags.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Attendees: </strong> {% for attendee in event.attendees.all %} {{ attendee }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% if average_rating.rating__avg %}  <p><strong>Average rating: </strong>{% if average_rating.rating__avg == -1 %}<i class="far fa-frown"></i>&nbsp;Negative{% elif average_rating.rating__avg == 1 %}<i class="far fa-smile"></i>&nbsp;Positive{% else %}<i class="far fa-meh"></i>&nbsp;Neutral{% endif %}</p>{% endif %}
  {% if user.is_authenticated %}
  	<p>This event is accepting comments. <a href="{% url 'message-event' event.id %}"><i class="fas fa-comment-alt"></i>&nbsp;Comment</a></p>
  	{% if my_rating %}
  		{% for rating in my_rating %}
  			<p>You gave this event a {% if rating.rating == -1 %}negative{% elif rating.rating == 1 %}positive{% else %}neutral{% endif %} rating. <a href="{% url 'rate-event' rating.event.id %}"><i class="fas fa-star"></i>&nbsp;Modify</a></p>
  		{% endfor %}
  	{% else %}
  	   <p>You have not rated this event. <a href="{% url 'rate-event' event.id %}"><i class="far fa-star"></i>&nbsp;Rate</a></p>
  	{% endif %}
  	<p>{% if user in event.attendees.all %}
      You are currently attending. <a href="{% url 'unattend-event' event.id %}"><i class="fas fa-level-down-alt"></i>&nbsp;Unattend</a>
  	{% else %}
  	You are not attending. <a href="{% url 'attend-event' event.id %}"><i class="fas fa-level-up-alt"></i>&nbsp;Attend</a></p>
  	{% endif %}</p>

  {% endif %}
  <div id="map" style="width:100%;height: 540px;"></div>
  <script>
    var map;
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
        mapTypeId: 'satellite',
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false
      });
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
        label: "{{ event.emoji }}",
        map: map
      });
      var infowindow = new google.maps.InfoWindow({
        content: `<h3>{{ event.name }}</h3><p>{{ event.description }}</p><a href=\"{{ event.get_absolute_url }}\">More Info</a>`
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi9L5nXDSdRXGfJPLbzWxyK966QzpoYdE&callback=initMap">
  </script>
</div>

{% endblock %}

{% block rightbar %}
<div class="col-md-4 right" style="width: 400px;">
	<h3><a href="{% url 'event-ratings' object.id %}">Ratings for {{ object.name }}</a></h3>
	<ul>
		{% if rating_list %}
			{% for rating in rating_list %}
				<li style="font-size: 15px;">{% if rating.rating == -1 %}<span class="negative"><i class="far fa-frown"></i>&nbsp;Negative{% elif rating.rating == 1 %}<span class="positive"><i class="far fa-smile"></i>&nbsp;Positive{% else %}<span class="neutral"><i class="far fa-meh"></i>&nbsp;Neutral{% endif %}</span> rating by {{ rating.username.username }}.</li>
			{% endfor %}
		{% else %}
			<li>There are no ratings for this event yet.</li>
		{% endif %}
	</ul>


	<h3><a href="{% url 'event-messages' object.id %}">Comments for {{ object.name }}</a></h3>
	<ul>
		{% if message_list %}
			{% for message in message_list %}
				<li style="font-size: 15px;"><b>{{ message.username.username }}</b> says: <br> <i> {{ message.comment }} </i></li>
			{% endfor %}
		{% else %}
			<li>There are no messages for this event yet.</li>
		{% endif %}
	</ul>
</div>
{% endblock %}
