{% extends "base_generic.html" %}

{% block main %}
<div class="col-md-8 main">
  <h1>Event: {{ event.name }}</h1>
  <h1>ID: {{ event.id }}</h1>
  <p><strong>Starts: </strong>{{ event.startDate }}</p>
  <p><strong>Ends: </strong> {{ event.endDate }}</p>
  <p><strong>Description: </strong> {{ event.description }}</p>  
  <p><strong>Tags: </strong> {% for tag in event.tags.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
  <p><strong>Attendees: </strong> {% for attendee in event.attendees.all %} {{ attendee }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> 
  <p><strong>Average rating: </strong>{{ average_rating.rating__avg|floatformat }}/1</p>
  {% if user.is_authenticated %}
  	<p><button type="button" class="btn-lg"><a href="{% url 'message-event' event.id %}">Message</a></button></p>
  	{% if my_rating %}
  		{% for rating in my_rating %}
  			<p>You gave this event a {{ rating.rating }}. <button type="button" class="btn-lg"><a href="{% url 'rate-event' rating.event.id %}">Modify</a></button></p>
  		{% endfor %}
  	{% else %}
  	<p><button type="button" class="btn-lg"><a href="{% url 'rate-event' event.id %}">Rate</a></button></p>	
  	{% endif %}
  	<p>{% if user in event.attendees.all %} 
  		You are going 
  		<p><button type="button" class="btn-lg"><a href="{% url 'unattend-event' event.id %}">Ungo</a></button></p>
  	{% else %}
  	<p><button type="button" class="btn-lg"><a href="{% url 'attend-event' event.id %}">Go</a></button></p>
  	{% endif %}</p>
  	
  {% endif %}
  <div id="map" style="width:100%;height: 540px;"></div>
  <script>
    var map;
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
        mapTypeId: 'satellite',
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false
      });
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
        label: "{{ event.emoji }}",
        map: map
      });
      var infowindow = new google.maps.InfoWindow({
        content: "<h3>{{ event.name }}</h3><p>{{ event.description }}</p><a href=\"{{ event.get_absolute_url }}\">More Info</a>"
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi9L5nXDSdRXGfJPLbzWxyK966QzpoYdE&callback=initMap">
  </script>
</div> 
  
{% endblock %}

{% block rightbar %}
<div class="col-md-2 right">
	<h3><a href="{% url 'event-ratings' object.id %}">Ratings for {{ object.name }}</a></h3>
	<ul>
		{% if rating_list %}
			{% for rating in rating_list %}
				<li>{% if rating.rating == -1 %}<span class="negative">negative{% elif rating.rating == 1 %}<span class="positive">positive{% else %}<span class="neutral">neutral{% endif %}</span> rating by {{ rating.username.username }}</li>
			{% endfor %}
		{% else %}
			<li>There is no rating yet for this event.</li>
		{% endif %}
	</ul>
	
	
	<h3><a href="{% url 'event-messages' object.id %}">Messages for {{ object.name }}</a></h3>
	<ul>
		{% if message_list %}
			{% for message in message_list %}
				<li>{{ message.username.username }} says<br> <i> {{ message.comment }} </i></li>
			{% endfor %}
		{% else %}
			<li>There is no message yet for this event.</li>
		{% endif %}
	</ul>
</div>
{% endblock %}