{% extends "base_generic.html" %}
	{% block leftbar %}	
  		<div class="col-md-3">
  			<h2> Here are the future events</h2>

  			{% if future_event_list %}
    				<ul>

      					{% for event in future_event_list %}
      					<li>
        					<a href="{{ event.get_absolute_url }}"> {{ event.name }}</a> ({{event.startDate}})
      					</li>
      					{% endfor %}

    				</ul>
    			{% else %}
      				<p>There is no event coming up.</p>
    			{% endif %}
  			{% block pagination %}
  						{% if paginate %}
     						<div class="pagination">
     	    					<span class="page-links">
              						{% if page_obj.has_previous %}
                  						<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              						{% endif %}
              						<span class="page-current">
                  						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              						</span>
              						{% if page_obj.has_next %}
                  						<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              						{% endif %}
          						</span>
      						</div>
  						{% endif %}
		{% endblock %}
		<p class="">&emsp;&emsp;<a href="{% url 'events' %}">Another search</a></p>
  		</div>
  		
  	{% endblock %} 
  	{% block main %}	
  		<div class="col-md-8 text-center">
  		{% load static %}
		<!-- <img src="{% static 'ZooMaps/images/map.png' %}" alt="Map" style="width:555px;height:540px;"/> -->
    <div id="map" style="width:100%;height: 540px;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(42.389567, -72.526570),
          mapTypeId: 'satellite',
          mapTypeControl: false,
          streetViewControl: false,
          rotateControl: false
        });
        {% autoescape off %}
          locations = {{ json }};
        {% endautoescape %}
        locations.map(function(location){
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(location.fields.latitude, location.fields.longitude),
            label: location.fields.emoji,
            map: map
          });
          var infowindow = new google.maps.InfoWindow({
            content: "<h3>"+ location.fields.name +"</h3><p>"+ location.fields.description +"</p><a href=\""+ location.fields.get_absolute_url +"\">More Info</a>"
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi9L5nXDSdRXGfJPLbzWxyK966QzpoYdE&callback=initMap">
    </script>
  		</div>
  		<div class="col-md-1"></div>
  	{% endblock %}