{% extends 'base_generic.html' %}

<!-- inspired from https://simpleisbetterthancomplex.com/tutorial/2017/02/18/how-to-create-user-sign-up-view.htmlv!-->

{% block main %}
  <h1>Welcome to ZooMaps.</h1>
  <h2>If you are a new user, log on.</h2>
  <p> Already have an account? <a href="{% url 'login'%}?next={{request.path}}"> Log in </a></p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: black">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Create account</button>
  </form>
{% endblock %}