{% extends "base_generic.html" %}
{% block leftbar %}
  {% if user.is_authenticated %}
  <div class="col-md-3">
    <p style="font-weight: bold; font-size: 15px;">Account Navigation</p>
    <p class="logged"><a href="{% url 'account' %}"><i class="fas fa-user"></i>&nbsp;My account</a></p>
    <p class="logged"><a href="{% url 'my-current-events' %}"><i class="fas fa-child"></i>&nbsp;My current events</a></p>
    <p class="logged"><a href="{% url 'my-future-events' %}"><i class="fas fa-calendar"></i>&nbsp;My future events</a></p>
    <p class="logged"><a href="{% url 'my-past-events' %}"><i class="fas fa-redo-alt"></i>&nbsp;My past events</a></p>
    <p class="logged"><a href="{% url 'ratings' %}"><i class="fas fa-star"></i>&nbsp;My ratings</a></p>
    <p class="logged"><a href="{% url 'messages' %}"><i class="fas fa-comment-alt"></i>&nbsp;My comments</a></p>
  </div>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="col-md-8 main display">
      				<p>
      				<ul>
        				{% if user.is_authenticated %}
          					<div><p class="info"> {{ user.first_name }}, here are your current events: </p></div>
          					<ul>
                    {% if object_list|length != 0 %}
                				<ul>
                  					{% for event in object_list %}
                              {% if event.name != null %}
                      					<li>
                        					<a href="{{ event.get_absolute_url }}"> {{ event.name }}</a> ({{event.startDate}} - {{event.endDate}})
                      					</li>
                              {% endif %}
                  					{% endfor %}
                				</ul>
              			{% else %}
                				<p>You have no current events.</p>
              			{% endif %}
      						  </ul>
                 {% else %}
                  	<p>You must be logged in to view this page.</p>
        				 {% endif %}
      				</ul>
      				</p>
    		</div>
  {% endblock %}
