{% extends "base_generic.html" %}
{% block main %}
<div class="col-md-8 main display">
    				<p>
    				<ul>

      				  {% if user.is_authenticated %}
      					<div><p class="info"> {{ user.first_name }}, here are the messages you posted: </p></div>
      					<ul>
  							{% for message in message_list %}
  								<li>On {{ message.date }}, you posted this about <a href="{{ message.event.get_absolute_url }}">{{ message.event.name }}</a>:
  								<p><i>{{ message.comment }}</i></p></li>
  							{% endfor %}
  						</ul>
                	 {% else %}
                		<p>You must be logged in to view this page.</p>
      				 {% endif %}

    				</ul>
    				</p>
  		</div>

{% endblock %}
