<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>ZooMaps</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Add additional CSS in static file -->
  	{% load static %}
  	<link rel="stylesheet" href="{% static 'ZooMaps/css/styles.css' %}">
  </head>
  
  <body>
  	<header>
  	{% block navbar %}
  	<div class="container-fluid bg-1">
  		<div class="col-md-3 title" id="title">ZooMaps</div>
  		<div class="col-md-1" id="{% if '/ZooMaps/' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="{% url 'index' %}">About</a></div>
  		<div class="col-md-1" id="{% if '/ZooMaps/events/' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="{% url 'events' %}">Maps</a></div>
  		<div class="col-md-1" id="{% if '/ZooMaps/account/' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="{% url 'account' %}">Account</a></div>
  		<div class="col-md-1" id="{% if '/ZooMaps/forms/' == request.path %}nav-selected{% else %}nav-item{% endif %}"><a href="{% url 'form' %}">Forms</a></div>
  		<div class="col-md-1" id="login-dropdown">
  			<div class="dropdown">
  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				Log in
  				</button>
  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   					 <li><a href="ZooMapsMyAccount.html">Log in</a></li>
    				<li><a href="#">Log on</a></li>
  				</ul>
			</div>
		</div>
  	</div>
  	{% endblock %}
  	</header>
  	<div class="container-fluid bg-2">
  		{% block leftbar %}
  		{% endblock %}
  		
  		{% block main %}
  		{% endblock %}
  		
  		{% block rightbar %}
  		{% endblock %}
  	</div>
  	<footer class="footer">
  		{% block footer %}
  		<nav  class="navbar-2 footer bg-3">
  			<a href="{% url 'index' %}">&copy;ZooMaps</a>
  			<a href="#">Policies</a>
  			<a href="#">Contact us</a>
  		</nav>
  		{% endblock %}
	</footer>

  </body>
</html>