{% extends "base_generic.html" %}
	{% block main %}
  		<div class="col-md-8 main">
  			<dl>
  				<dt>Welcome to ZooMaps, THE application that takes you out!</dt>
    				<dd>With us, you will finally know what is happening at UMass.</dd>
    				<dd>ZooMass it's {{ num_user }} users and {{ num_event }} events.</dd>
    			<dt>Without an account, you can</dt>
    				<dd>&emsp;&emsp;- look up the events</dd>
    				<dd>&emsp;&emsp;- look at the map</dd>
    			<dt>Once connected, you can</dt>
    				<dd>&emsp;&emsp;- see your agenda</dd>
    				<dd>&emsp;&emsp;- participate in events</dd>
    				<dd>&emsp;&emsp;- enter a chat</dd>
    				<dd>&emsp;&emsp;- create an event</dd>
  			</dl> 
  		</div>
  	{% endblock %}
  		
  	{% block rightbar %}
  		<div class="col-md-3 right">
  			<p> Here is what people say about us</p>
  			<blockquote>
    			<p>The best application ever made for <abbr title="Universiy of Massachussets">UMass</abbr> students.</p>
    			<footer>A UMass Student</footer>
  			</blockquote>
  			<blockquote>
  			    <p>My coffee shop has never been that popular. Thank you ZooMaps!</p>
  			    <footer>An owner</footer>
  			</blockquote>
  			<blockquote>
  			    <p>I like the idea of the map, it is very practical on such a big campus.</p>
  			    <footer>A UMass Student</footer>
  			</blockquote>
  		</div>
  	{% endblock %}