{% extends "base_generic.html" %}

{% block main %}
<div class="col-md-8 main">
  <h1>Event: {{ event.name }}</h1>

  <p><strong>Starts: </strong>{{ event.startDate }}</p>
  <p><strong>Ends: </strong> {{ event.endDate }}</p>
  <p><strong>Description: </strong> {{ event.description }}</p>  
  <p><strong>Tags: </strong> {% for tag in event.tags.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
  <p><strong>Attendees: </strong> {% for attendee in event.attendees.all %} {{ attendee }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> 
  <p><button type="button" class="btn-lg">Join</button> <button type="button" class="btn-lg">Chat</button> <button type="button" class="btn-lg">Rate</button></p>
</div> 
{% endblock %}

{% block rightbar %}
<div class="col-md-2 right">
	<h3>Ratings for {{ object.name }}</h3>
	<ul>
		{% if rating_list %}
			{% for rating in rating_list %}
				<li>{{ rating.rating }} by {{ rating.username.username }}</li>
			{% endfor %}
		{% else %}
			<li>There is no rating yet for this event.</li>
		{% endif %}
	</ul>
	
	
	<h3>Messages for {{ object.name }}</h3>
	<ul>
		{% if message_list %}
			{% for message in message_list %}
				<li>{{ message.object }} by {{ message.username.username }} <br> <i> {{ message.comment }} </i></li>
			{% endfor %}
		{% else %}
			<li>There is no message yet for this event.</li>
		{% endif %}
	</ul>
</div>
{% endblock %}