{% extends "base_generic.html" %}
	{% block leftbar %}	
  		<div class="col-md-3">
  			<form >
  				<input class="searchbar" type="text" placeholder="Search">
  				<button type="button" onclick="window.location='ZooMapsCafe.html'" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> </button>
      </form>
  			<p class=""><a href="#">My recent searches</a></p>
  			<p class=""><a href="#">Filters</a></p>
  			<p class="">&emsp;&emsp;<a href="#">Open right now</a></p>
  			<p class="">&emsp;&emsp;<a href="#">Ongoing events</a></p>
  			<p class="">&emsp;&emsp;<a href="#">Best rated</a></p>
  			<p class="">&emsp;&emsp;<a href="#">More filters...</a></p>
  			
  			{% if event_list %}
    				<ul>

      					{% for event in event_list %}
      					<li>
        					<a href="{{ event.get_absolute_url }}"> {{ event.name }}</a> ({{event.startDate}})
      					</li>
      					{% endfor %}

    				</ul>
    			{% else %}
      				<p>There are no events yet.</p>
    			{% endif %}
  			
  		</div>
  		{% block pagination %}
  						{% if is_paginated %}
     						<div class="pagination">
     	    					<span class="page-links">
              						{% if page_obj.has_previous %}
                  						<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              						{% endif %}
              						<span class="page-current">
                  						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              						</span>
              						{% if page_obj.has_next %}
                  						<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              						{% endif %}
          						</span>
      						</div>
  						{% endif %}
	{% endblock %}
  	{% endblock %} 
  	{% block main %}	
  		<div class="col-md-8 text-center">
  		{% load static %}
		<img src="{% static 'ZooMaps/images/map.png' %}" alt="Map" style="width:555px;height:540px;"/>
  		</div>
  		<div class="col-md-1"></div>
  	{% endblock %}