{% extends "base_generic.html" %}
  	
  	{% block main %}
  		<div class="container-fluid bg-2">
			<form class="col-md-9 form" action="ZooMapsForm.html">
				<div class="col-md-12">
					<div class="col-md-6">
						<label>Username:</label><br />
						<input type="text" name="username" placeholder="username">
					</div>
					<div class="col-md-6">
						<label>Name of the event:</label><br />
						<input type="text" name="eventName" placeholder="name of the event">
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<label>Emojis used to pin the event to the map:</label><br />
						<input type="text" name="emojis" placeholder="emojis">
					</div>
					<div class="col-md-6">
						<label>Tags associated with the events:</label><br />
						<input type="text" name="tags" placeholder="tags">
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<label>Start date and time:</label><br />
						<input type="text" name="begintime" placeholder="Begin at">
					</div>
					<div class="col-md-6">
						<label>End date and time:</label><br />
						<input type="text" name="endtime" placeholder="End at">
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<label>Latitude:</label><br />
						<input type="text" name="latitude" placeholder="latitude">
					</div>
					<div class="col-md-6">
						<label>Longitude:</label><br />
						<input type="text" name="longitude" placeholder="longitude">
					</div>
				</div>
				<div class="col-md-12">
					<label>Description of the event:</label><br />
					<textarea placeholder="Tell us more.." name="description"></textarea>
				</div>
				<div class="col-md-12">
					<label>Invite participants:</label><br>
					<input type="text" name="participants" placeholder="Invite participants...">
				</div>
				<div class="col-md-12">
					<input type="submit" class="btn-sm" value="Submit">
				</div>
		</form> 
  	{% endblock %}
  	
  	{% block rightbar %}
  		<div class="col-md-3 instructions">
  			<p>Instructions on how to create your event:</p>
  			<ol>
  				<li>Tell us who you are</li>
  				<li>Describe your events with emojis to be pinned on the map and tags</li>
  				<li>Choose when and where the event will be happening</li>
  				<li>Describe the event so that people can know what is going on</li>
  				<li>Invite attendees to let them know about the event</li>
  				<li>Submit and wait to get  your approval email</li>
  				<li>Once the email received, your event will be published for others to see</li>
  			</ol>
  		</div>
  	{% endblock %}