{% extends "base_generic.html" %}
  	{% block leftbar %}	
  		<div class="col-md-3">
  			<p class="logged"><a href="#">My future events</a></p>
  			<p class="logged"><a href="#">My past events</a></p>
  			<p class="logged"><a href="#">My favorite spots</a></p>
  			<p class="logged"><a href="#">My comments</a></p>
  			<p class="logged"><a href="#">My chats</a></p>
  		</div>
  	{% endblock %}
  	
  	{% block main %}
  		<div class="col-md-6 main account">

    			{% if user_list %}
    				<p class="account_title">Welcome G-Tech</p>
    				<ul>

      					{% for user in user_list %}
      					<li>
        					Your username: {{ user.username }}
        					<br>
        					Your email.address: {{user.emailAddress}}	
      					</li>
      					{% endfor %}

    				</ul>
    			{% else %}
      				<p>There are no user in the website yet.</p>
    			{% endif %} 
  		</div>
  	{% endblock %}
  	
  	{% block rightbar %}
  		<div class="col-md-2">
  			<p> Your upcoming events </p>
  			<ul>
  				
  			</ul>
  		</div>
  	{% endblock %}